.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $white;
    padding: rem(5) rem(15);
    border: rem(1) solid $white;
    border-radius: rem(3);
    background-color: transparent;
    transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
    text-transform: uppercase;
    @media (any-hover: hover) {
        &:hover {
            color: $black;
            background-color: $white;
        }
    }
}
