input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input {
    align-items: center;
    width: 100%;
    display: block;
    padding: rem(10) rem(15);
    min-height: rem(45);
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.95;
    font-size: rem(13);
    line-height: 130%;
    color: rgba(255, 255, 255, 0.4);
    transition: color 0.3s ease 0s, box-shadow 0.3s ease 0s;
    &._form-focus {
        color: $white;
    }
    &._form-error {
        box-shadow: 0 0 rem(10) rgba(255, 94, 94, 0.3);
        color: rgba(255, 94, 94, 0.9);
    }
}
textarea.input {
    resize: none;
    padding: rem(15);
}
