//<ОСНОВНОЙ БЛОК>====================================================================================================
.text_1 {
    font-weight: 500;
    font-size: 15px;
    line-height: 17 / 15 * 100%;
}
.text_2 {
    font-weight: 300;
    font-size: 17px;
    line-height: 150%;
}
.text_3 {
    font-weight: 300;
    font-size: 15px;
    line-height: 130%;
}
.subtitle {
    font-weight: 700;
    @include adaptiv-font(21, 17, 1);
    line-height: 24 / 21 * 100%;
}
.title {
    font-family: "SFPro";
    @include adaptiv-font(44, 32, 1);
    line-height: 53 / 44 * 100%;
    color: #ffffff;
}
.no-anim {
    visibility: hidden;
    opacity: 0;
}
.anim {
    visibility: visible;
    opacity: 1;
}
//</ОСНОВНОЙ БЛОК>====================================================================================================

//========================================================================================================================================================

.scroll-btn {
    text-align: center;
    @include adaptiv-value("margin-bottom", 40, 20, 1);
    transition: all 0.5s ease 0s;
    @extend .no-anim;
    &._animate {
        @extend .anim;
    }
    &_footer {
        transform: rotate(-180deg);
    }
    &__link {
        position: relative;
        animation: arrow 2s infinite ease;
        opacity: 0.64;
        transition: all 0.3s ease 0s;
        padding: 10px;
        img {
            max-width: 100%;
        }
        @media (min-width: $md2+px) {
            &:hover {
                opacity: 1;
            }
        }
    }
    @keyframes arrow {
        0% {
            top: 0;
        }
        50% {
            top: 10px;
        }
        100% {
            top: 0;
        }
    }
}
