.home {
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1 1 auto;
        align-items: center;
        text-align: center;
        padding-top: rem(100);
    }

    &__top {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        @media (max-width: $mobile) {
            justify-content: center;
        }
    }

    &__title {
        font-family: "SFPro";
        font-weight: 600;
        @include adaptiveValue("font-size", 96, 40, 767.98, 320, 1);
        line-height: math.div(115, 96);
        @include adaptiveValue("margin-bottom", 25, 20);

        // ANIMATION ========================================================================================================================================================
        @extend %no-anim;
        transform: translate(0px, 100%);
        transition: opacity 0.8s ease 0.5s, visibility 0.8s ease 0.5s, transform 0.8s ease 0.5s;
    }

    &__image {
        @include adaptiveValue("max-width", 900, 220, 1920, 320, 1);
        margin: 0 auto rem(25) auto;
        img {
            max-width: 100%;
        }

        // ANIMATION ========================================================================================================================================================
        @extend %no-anim;
        transform: translate(0px, 100%);
        transition: opacity 0.8s ease 1s, visibility 0.8s ease 1s, transform 0.8s ease 1s;
        @media (max-width: $mobileSmall), (max-height: em(465)) {
            transition: opacity 0.8s ease 0.5s, visibility 0.8s ease 0.5s, transform 0.8s ease 0.5s;
        }
    }

    &__text {
        @extend %text_2;
        @include adaptiveValue("margin-bottom", 35, 100);
        @media (max-height: em(400)) {
            margin-bottom: rem(10);
        }

        // ANIMATION ========================================================================================================================================================
        @extend %no-anim;
        transform: translate(0px, 100%);
        transition: opacity 0.8s ease 1.5s, visibility 0.8s ease 1.5s, transform 0.8s ease 1.5s;
        @media (max-width: $mobileSmall), (max-height: em(465)) {
            transition: opacity 0.8s ease 1s, visibility 0.8s ease 1s, transform 0.8s ease 1s;
        }
    }

    &__social {
        margin-bottom: rem(15);
        display: flex;
        gap: rem(50);

        // ANIMATION ========================================================================================================================================================
        @extend %no-anim;
        transform: translate(0px, 100%);
        transition: opacity 0.8s ease 2s, visibility 0.8s ease 2s, transform 0.8s ease 2s;
        @media (max-width: $mobileSmall), (max-height: em(465)) {
            transition: opacity 0.8s ease 1.5s, visibility 0.8s ease 1.5s, transform 0.8s ease 1.5s;
        }
    }

    &__social-item {
        width: rem(40);
        height: rem(40);
        opacity: 0.5;
        transition: opacity 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                opacity: 1;
            }
        }
        img {
            max-width: 100%;
        }
    }
}

//</ОСНОВНОЙ БЛОК>====================================================================================================

.what {
    &__flexbox {
        @media (max-width: em(1100)) {
            display: flex;
            justify-content: space-between;
        }
        @media (max-width: $tablet) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__text {
        max-width: rem(440);
        @extend %text_2;
        padding-left: rem(30);
        @media (max-width: em(1100)) {
            flex: 0 1 40%;
            max-width: none;
            padding: 0px rem(20) 0px 0px;
        }
        @media (max-width: $tablet) {
            flex: 1 1 100%;
            padding: 0px 0px rem(40) 0px;
        }
        p {
            &:not(:last-child) {
                @include adaptiveValue("margin-bottom", 30, 5);
            }
            // ANIMATION ==================================================================================================================================================
            @include inViewBasic(-20%, 0, 0.8, 0);
        }
    }
    &__slider {
        width: rem(560);
        position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: rem(20);
        margin: 0px rem(33) rem(20) 0px;
        min-width: 0;
        @media (max-width: em(1100)) {
            position: relative;
            flex: 0 1 60%;
            max-width: none;
            margin-right: re 17;
        }
        @media (max-width: $mobile) {
            flex: 0 1 80%;
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
        }
    }

    &__body {
    }
}

.slider-what {
    // ANIMATION ==================================================================================================================================================
    @include inViewBasic(20%, 0, 0.8, 0);
    &__swiper {
        width: 100%;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: rem(-17);
            left: rem(17);
            border: rem(4) solid $white;
            z-index: -1;
        }
    }

    &__wrapper {
    }

    &__slide {
        flex: 1 1 100%;
        z-index: 2;
        position: relative;
        &.swiper-slide-active {
            .slider-what__text {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__image-ibg {
        @include adaptiveValue("min-height", 300, 200);
    }

    &__text {
        position: absolute;
        bottom: rem(30);
        left: 0;
        transform: translate(-90%, 0px);
        font-weight: 500;
        @include adaptiveValue("font-size", 24, 17);
        line-height: math.div(28, 24);
        text-align: right;
        color: $white;
        max-width: rem(300);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.8s ease 0s, visibility 0.8s ease 0s;
        @media (min-width: $tablet) and (max-height: $mobile) {
            transform: translate(rem(30), 0px);
            text-align: left;
        }
        @media (max-width: $tablet) {
            transform: translate(rem(30), 0px);
            text-align: left;
        }
        @media (max-width: $mobile) {
            bottom: rem(17);
            transform: translate(rem(17), 0px);
        }
        @media (max-width: $mobileSmall) {
            max-width: rem(250);
        }
    }

    &__navigation {
        display: flex;
        justify-content: flex-end;
    }
    &__item {
        width: rem(60);
        height: rem(48);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $dark;
        transition: background-color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                background-color: $white;
                path {
                    stroke: $black;
                }
            }
        }
        path {
            stroke: $white;
            transition: stroke 0.3s ease 0s;
        }

        &_prev {
            svg {
                transform: rotate(-180deg);
            }
        }

        &_next {
        }
    }
}
//========================================================================================================================================================

.advantage {
    .screen__inner {
        @media (min-width: $pc) {
            padding-right: 0;
        }
    }
    &__flexbox {
        display: flex;
        margin-top: rem(10);
        flex-wrap: wrap;
        @media (max-width: em(1150)) {
            margin: 0px rem(-10);
        }
        @media (max-width: $mobile) {
            @include adaptiveValue("margin-top", 20, 30);
        }
        &._watcher-view {
            .advantage__item {
                @extend %anim;
            }
            .advantage__item_1 .advantage__line {
                animation: anim1 0.5s ease 1s forwards;
            }
            .advantage__item_2 .advantage__line {
                animation: anim2 0.8s ease 2s forwards;
            }
            .advantage__item_3 .advantage__line {
                animation: anim1 0.5s ease 3.2s forwards;
            }
        }
    }

    &__item {
        position: relative;
        display: flex;
        @extend %no-anim;
        @media (max-width: em(1150)) {
            padding: 0px rem(10);
            margin-bottom: rem(50);
            flex: 0 1 50%;
        }
        @media (max-width: $tablet) {
            flex: 1 1 100%;
        }
        @media (max-width: em(600)) {
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &_1 {
            transition: opacity 0.5s ease 0.5s, visibility 0.5s ease 0.5s;
            @media (min-width: em(1150)) {
                flex: 0 1 percent(556, 1212);
                margin-right: rem(38);
                @include adaptiveValue("margin-bottom", 100, 0);
            }
            .advantage__text {
                br {
                    &:first-child {
                        @media (min-width: em(1150)) {
                            display: none;
                        }
                        @media (max-width: em(600)) {
                            display: block;
                        }
                    }
                    @media (max-width: $tablet) {
                        display: none;
                    }
                }
            }
            .advantage__line {
                top: rem(30);
                right: -12%;
                @media (max-width: $pc) {
                    right: -22%;
                    top: rem(20);
                }
            }
        }
        &_2 {
            @media (min-width: em(1150)) {
                flex: 0 1 percent(556, 1212);
                margin-top: rem(17);
                @include adaptiveValue("margin-bottom", 100, 0);
            }
            @media (min-width: $tablet) {
                transition: opacity 0.5s ease 1.5s, visibility 0.5s ease 1.5s;
            }
            @media (max-width: $tablet) {
                transition: opacity 0.5s ease 1s, visibility 0.5s ease 1s;
            }
            .advantage__line {
                bottom: rem(-75);
                left: -76.5%;
                stroke-dashoffset: 600;
                stroke-dasharray: 600;
                @media (max-width: $pc) {
                    left: -70%;
                }
            }
        }
        &_3 {
            @media (min-width: em(1150)) {
                flex: 0 1 percent(510, 1212);
                margin-left: rem(30);
                @include adaptiveValue("margin-right", 100, 20);
            }
            @media (min-width: $tablet) {
                transition: opacity 0.5s ease 2.8s, visibility 0.5s ease 2.8s;
            }
            @media (max-width: $tablet) {
                transition: opacity 0.5s ease 1.5s, visibility 0.5s ease 1.5s;
            }
            .advantage__line {
                top: rem(25);
                right: -25%;
                @media (max-width: $pc) {
                    right: -32%;
                }
            }
        }
        &_4 {
            @media (min-width: em(1150)) {
                flex: 0 1 percent(550, 1212);
                margin-right: rem(-10);
                margin-top: rem(21);
            }
            @media (min-width: $tablet) {
                transition: opacity 0.5s ease 3.7s, visibility 0.5s ease 3.7s;
            }
            @media (max-width: $tablet) {
                transition: opacity 0.5s ease 2s, visibility 0.5s ease 2s;
            }
        }
    }

    &__number {
        font-weight: 700;
        font-size: rem(36);
        margin: rem(97) rem(8) 0px rem(8);
        @media (max-width: em(600)) {
            margin: 0px rem(8) 0px 0px;
        }
    }

    &__image-ibg {
        flex: 0 0 rem(195);
        height: rem(130);
        margin-right: rem(32);
        position: relative;
        z-index: 2;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: rem(-12);
            left: rem(12);
            border: rem(2) solid $white;
            z-index: -1;
        }
        @media (max-width: em(600)) {
            flex: 1 1 auto;
            margin: 0px rem(20) rem(10) 0px;
            height: rem(200);
        }
    }

    &__info {
        flex: 0 1 rem(300);
        @media (max-width: $tablet) {
            flex: 1 1 auto;
        }
        @media (max-width: em(600)) {
            flex: 1 1 100%;
        }
    }

    &__subtitle {
        @extend %subtitle;
        color: $white;
        margin-bottom: rem(10);
        @media (max-width: em(600)) {
            br {
                display: none;
            }
        }
    }

    &__text {
        color: $white;
        @extend %text_3;
    }

    &__line {
        position: absolute;
        stroke-dashoffset: 300;
        stroke-dasharray: 300;
        @media (max-width: em(1150)) {
            display: none;
        }
        svg {
            max-width: 100%;
            @media (max-width: $pc) {
                max-width: 80%;
            }
        }
        @keyframes anim1 {
            to {
                stroke-dashoffset: 600;
            }
        }
        @keyframes anim2 {
            to {
                stroke-dashoffset: 1200;
            }
        }
    }
}

//========================================================================================================================================================

.info {
    &__body {
        position: relative;
        @media (min-width: $tablet) {
            max-width: rem(666);
            margin: 0 auto;
            @include adaptiveValue("margin-top", 106, 20);
            @media (max-height: $mobile) {
                @include adaptiveValue("margin-bottom", 120, 100);
            }
        }
        &._watcher-view {
            .info__image {
                @extend %anim;
                transform: translate(0px, 0px);
            }
            .specs__dot {
                @extend %anim;
                transform: scale(1);
            }
            .specs__line {
                animation: lin 2s ease 1s forwards;
                &_2 {
                    animation: lin2 2s ease 1s forwards;
                }
            }
            .specs__text,
            .specs__subtitle {
                @extend %anim;
            }
        }
    }

    &__image {
        @media (max-width: $tablet) {
            @include adaptiveValue("width", 666, 280);
            margin: 0 auto;
            @include adaptiveValue("margin-bottom", 60, 30);
        }
        @media (max-width: em(600)) {
            margin-top: rem(20);
        }
        img {
            max-width: 100%;
        }
        transition: opacity 0.5s ease 0s, visibility 0.5s ease 0s, transform 0.5s ease 0s;
        @extend %no-anim;
        transform: translate(0px, 100%);
    }

    &__specs {
        @media (min-width: $tablet) {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        @media (max-width: $tablet) {
            display: flex;
            flex-wrap: wrap;
            margin: 0px rem(-20);
        }
    }
}

.specs {
    &__item {
        position: absolute;
        @media (max-width: $tablet) {
            position: relative;
            top: 0 !important;
            left: 0 !important;
            right: 0 !important;
            bottom: 0 !important;
            flex: 0 1 50%;
            @include adaptiveValue("margin-bottom", 40, 20);
            padding: 0px rem(20);
        }
        @media (max-width: em(600)) {
            flex: 1 1 100%;
        }
        &_1 {
            top: rem(-80);
            left: rem(-235);
            @media (max-width: $pc) {
                top: rem(-100);
                left: percent(-270, 1238);
            }
            .specs__line {
                top: rem(13);
                left: rem(185);
                width: rem(222);
                height: rem(108);
            }
            .specs__dot {
                bottom: 0;
                right: 0;
            }
        }
        &_2 {
            top: rem(-80);
            right: rem(-280);
            @media (max-width: $pc) {
                right: percent(-380, 1238);
            }
            @media (max-width: em(1100)) {
                top: rem(-60);
                right: percent(-290, 1238);
            }
            .specs__line {
                top: rem(13);
                left: rem(-280);
                width: rem(250);
                height: rem(98);
                @media (max-width: em(1100)) {
                    width: rem(200);
                    left: rem(-220);
                    top: 0px;
                }
            }
            .specs__dot {
                bottom: 0;
                left: 0;
                @media (max-width: em(1100)) {
                    left: rem(-5);
                }
            }
        }
        &_3 {
            bottom: rem(-110);
            left: rem(-235);
            @media (max-width: $pc) {
                left: percent(-240, 1238);
            }
            .specs__line {
                top: rem(-62);
                right: rem(-270);
                width: rem(340);
                height: rem(76);
                @media (max-width: $pc) {
                    width: rem(250);
                    right: rem(-180);
                    top: rem(-55);
                }
            }
            .specs__dot {
                top: rem(-2);
                right: 0px;
                @media (max-width: $pc) {
                    top: rem(5);
                }
            }
        }
        &_4 {
            bottom: rem(-100);
            right: rem(-280);
            @media (max-width: $pc) {
                right: percent(-350, 1238);
            }
            @media (max-width: em(1100)) {
                right: percent(-280, 1238);
            }
            .specs__line {
                top: rem(-73);
                left: rem(-130);
                width: rem(117);
                height: rem(84);
            }
            .specs__dot {
                top: 0;
                left: 0;
            }
        }
    }

    &__subtitle {
        @extend %subtitle;
        margin-bottom: 10;

        // ANIMATION ==================================================================================================================================================
        transition: opacity 0.5s ease 2.4s, visibility 0.5s ease 2.4s;
        @extend %no-anim;
        @media (max-width: $tablet) {
            transition: opacity 0.8s ease 0.5s, visibility 0.8s ease 0.5s;
        }
    }

    &__text {
        @extend %text_3;
        @media (min-width: $tablet) {
            max-width: rem(280);
        }

        // ANIMATION ==================================================================================================================================================
        @extend %no-anim;
        transition: opacity 0.5s ease 2.4s, visibility 0.5s ease 2.4s;
        @media (max-width: $tablet) {
            transition: opacity 0.8s ease 0.5s, visibility 0.8s ease 0.5s;
        }
    }

    &__line {
        position: absolute;
        svg {
            max-width: 100%;
        }
        stroke-dashoffset: 400;
        stroke-dasharray: 400;
        &_2 {
            stroke-dashoffset: 525;
        }
        @keyframes lin {
            to {
                stroke-dashoffset: 0;
            }
        }
        @keyframes lin2 {
            to {
                stroke-dashoffset: 800;
            }
        }
        @media (max-width: $tablet) {
            display: none;
        }
    }

    &__dot {
        position: absolute;
        width: rem(10);
        height: rem(10);
        border-radius: 50%;
        background-color: $grey;
        display: inline-flex;

        // ANIMATION ==================================================================================================================================================
        @extend %no-anim;
        transform: scale(0);
        transition: opacity 0.5s ease 0.5s, visibility 0.5s ease 0.5s, transform 0.5s ease 0.5s;
    }
}

//========================================================================================================================================================

.question {
    &__body {
        position: relative;
        width: rem(690);
        @include adaptiveValue("padding-bottom", 60, 20);
        &._watcher-view .question__item {
            @extend %anim;
            opacity: 0.95;
            transform: translate(0px, 0px);
        }
        @media (max-width: em(1150)) {
            width: em(600);
        }
        @media (max-width: $tablet) {
            width: calc(100% - rem(72));
        }
        @media (max-width: $mobile) {
            margin: 0px rem(-16);
            width: calc(100% + rem(32));
        }
    }

    &__spollers {
    }

    &__item {
        background: rgba(0, 0, 0, 0.3);
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        width: 100%;
        &:not(:last-child) {
            margin-bottom: rem(5);
        }
        @extend %no-anim;
        transform: translate(-20%, 0px);
        &:nth-child(1) {
            transition: opacity 0.8s ease 0.5s, visibility 0.8s ease 0.5s, transform 0.8s ease 0.5s;
        }
        &:nth-child(2) {
            transition: opacity 0.8s ease 1s, visibility 0.8s ease 1s, transform 0.8s ease 1s;
        }
        &:nth-child(3) {
            transition: opacity 0.8s ease 1.5s, visibility 0.8s ease 1.5s, transform 0.8s ease 1.5s;
        }
        &:nth-child(4) {
            transition: opacity 0.8s ease 2s, visibility 0.8s ease 2s, transform 0.8s ease 2s;
        }
    }

    &__subtitle {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        padding: rem(10) rem(40);
        background-color: transparent;
        min-height: rem(72);
        text-align: left;
        cursor: pointer;
        span {
            flex: 1 1 auto;
            @extend %subtitle;
            font-weight: 500;
            color: $white;
            opacity: 0.8;
            transition: opacity 0.5s ease 0s;
        }
        &._spoller-active {
            .question__button {
                img {
                    transform: rotate(-180deg);
                }
            }
        }
        @media (any-hover: hover) {
            &:hover {
                span {
                    opacity: 1;
                }
            }
        }
        @media (max-width: $mobile) {
            padding: rem(5) rem(70) rem(5) rem(16);
            min-height: rem(60);
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
        }
    }

    &__button {
        position: absolute;
        width: rem(72);
        height: 100%;
        max-height: rem(72);
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $white;
        transform: translate(100%, 0px);
        img {
            transition: transform 0.5s ease 0s;
        }
        @media (max-width: $mobile) {
            width: rem(60);
            max-height: rem(60);
            transform: translate(0px, 0px);
        }
    }

    &__answer {
        padding: 0px rem(20) rem(75) rem(50);
        flex: 1 1 100%;
        font-weight: 300;
        font-size: rem(15);
        line-height: 150%;
        @media (max-width: $mobile) {
            padding: rem(10) rem(16) rem(30) rem(16);
        }
    }

    &__image {
        position: absolute;
        right: rem(-72);
        top: rem(-30);
        transform: translate(100%, 0px);
        width: rem(320);
        img {
            max-width: 100%;
        }
        @media (max-width: em(1150)) {
            width: rem(270);
            top: rem(-20);
        }
        @media (max-width: $tablet) {
            display: none;
        }
    }
}
